* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.875/1.4 var(--font-family);

  --color-text-primary: #292524;
  --color-text-secondary: #56534E;
  --color-text-tertiary: #8F8881;
  --color-text-highlight: #E43A12;

  --color-surface-primary: #FFFFFF;
  --color-surface-secondary: #FEE7D6;
  --color-surface-disabled: #E7E5E4;

  --color-stroke-default: #D6D3D1;
  --color-stroke-highlight: #F3541C;
  --color-stroke-error: #DC2626;
}

body {
  overflow: hidden;
  font: var(--text);
  color: var(--text-secondary);
}

h1, h2 {
  color: var(--text-primary);
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}